<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<settings>-->
        <!--<setting name="logImpl" value="STDOUT_LOGGING"/>-->
    <!--</settings>-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/riskpreventioncontroldb?characterEncoding=UTF-8&amp;serverTimezone=Asia/Shanghai&amp;rewriteBatchedStatements=true"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
                <!--<property name="password" value="Shao753951"/>-->
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="moon/calculate/user/dao/UserDAO.xml"/>
        <mapper resource="moon/calculate/role/dao/RoleDAO.xml"/>
        <mapper resource="moon/calculate/userrole/dao/UserRoleDAO.xml"/>
        <mapper resource="moon/calculate/flow/dao/FlowDAO.xml"/>
        <mapper resource="moon/calculate/approve/dao/ApproveDAO.xml"/>
    </mappers>
</configuration>